
 body{
     background-color: beige;
    
 }
.My_div  {
  position: relative;
  float: left;
   margin: 0;
    padding: 0;
   
}

.My_ul{
margin: 0;
padding: 0;
width: 100;
list-style-type: none;
background-color: grey;
padding: 50px;
margin: 50px;
text-align: left;
font-size: 30px;
border-width: 5px;
border-style: double;
border-color: turquoise;
}

.edit{
    width: 40px;
    height: 40px;
    
    

} 
.favorit{

    width: 40px;
    height: 40px;
    
}

.history{width: 40px;
    height: 40px;
    }
 .securety{width: 40px;
        height: 40px}

.settings{width: 40px;
            height: 40px}

 a:hover{
    background-color: darkslategrey;
        }
         
a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
               
            }
    